@model System.Data.DataTable

@if (Model != null)
{
    for (int i = 0; i < Model.Rows.Count; i++)
    {

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumbs-list">
                            <li>
                                <a href="javascript:void(0)">@Model.Rows[i][1]</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">@Model.Rows[i][2]</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">@Model.Rows[i][3]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}