@model System.Data.DataTable

@if (Model != null)
{
    for (int i = 0; i < Model.Rows.Count; i++)
    {
        
        <section class="section-recipe">
            <div class="container">
                <div class="video-recipe-widget">
                    <div class="video-placeholder">
                        <img class="video-placeholder--img" src="@Url.Content("~/UploadedFiles/"+(Model.Rows[i][3]))" alt="">
                    </div>
                    <div class="video-recipe-desc bg-grey">
                        <h3 class="video-recipe-desc--heading heading-bold-secondary">
                            @Model.Rows[i][1]
                        </h3>
                        <p class="video-recipe-desc--text">
                            @Model.Rows[i][2]
                            <span style="position: absolute;right: 15px;top: 10px;">
                                <a href="@Url.Action("Edit", "Cart", new {@id=Model.Rows[i][0]})" style="margin:0px; padding:0px; background:#ffffff00; color:#337ab7">
                                    <img src="~/Content/Common/images/icons/pen.png" />
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    }
}




